LiveDev.Domain/bin/
LiveDev.Domain/obj/
LiveDev.Domain.Tests/bin/
LiveDev.Domain.Tests/obj/
LiveDev.Infrastructure.Tests/bin/
LiveDev.Infrastructure.Tests/obj/
LiveDev.Infrastructure/bin/
LiveDev.Infrastructure/obj/
LiveDev.Tests/bin/
LiveDev.Tests/obj/
LiveDev.Web/bin/
LiveDev.Web/obj/
TestResults/
Mockups/
_ReSharper.*
*.ReSharper.user
*.suo
*.csproj.user
*.resharper
*.cache